<!DOCTYPE html>
<html>

<head>
    <title>Persian Digit Recognition</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no" />
</head>

<body>
    <div class="container">
        <div class="canvas-container">
            <canvas id="canvas" width="400" height="400"></canvas>
        </div>
        <div class="title-container">
            <h2 id="title">Persian Digit Recognition</h2>
            <p>Draw a Persian digit in the box. The model will automatically recognize and display the digit after
                you finish drawing. To start a new drawing, simply begin drawing again in the box. <a
                    href="https://github.com/aliinreallife/persian-digit-recognition" target="_blank">View on GitHub</a>
            </p>
            <p id="prediction-text">Prediction:</p>
            <p id="prediction"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>