body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  max-width: 800px;
  width: 100%;
  flex-wrap: wrap;
}

.canvas-container {
  position: relative;
  margin-right: 20px;
  margin-top: 10px;
}

canvas {
  border: 2px solid #e0e0e0;
  background-color: #ffffff;
}

.title-container {
  max-width: 350px;
  text-align: left;
}

p {
  text-align: left;
}

#title {
  margin-bottom: 10px;
  text-align: left;
}

#prediction {
  visibility: hidden;
  font-size: 72px;
  font-weight: bold;
  color: #e0e0e0;
  text-align: center;
  font-family: "IranSans";
  margin: 0;
}

#prediction-text {
  visibility: hidden;
  text-align: left;
  margin-bottom: 12px;
}

a {
  color: #6dce7a;
}

/* Mobile view */
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .canvas-container {
    width: 90%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  canvas {
    width: 100%;
    height: auto;
  }

  .title-container {
    max-width: 100%;
    text-align: center;
  }
}

/* Desktop view */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .canvas-container {
    width: auto;
    margin-right: 20px;
    margin-bottom: 0;
  }

  canvas {
    width: 400px;
    height: 400px;
  }

  .title-container {
    text-align: left;
  }
}
